<html lang="en-US">
    <head>
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <link rel="stylesheet" href="../shared.css">
        <link rel="stylesheet" href="./card-section.css">
        <link rel="stylesheet" href="../poll/poll-card-section.css">
        <link rel="stylesheet" href="../contacts/contact-card-section.css">
        <title>Will Power-Up</title>
    </head>
    <body style="overflow: hidden">
        <div id="card_section_wrapper">


            <div id="contact_section_wrapper" class="card-section">
                <div class="card-section-header">
                    <div class="card-section-title">
                        <div class="contacts-icon card-section-icon"></div>
                        <h2>Contact</h2>
                    </div>
                    <button id="attach_contact_button" style="margin-right: 10px">
                        <div class="paperclip-icon card-section-icon"></div>
                    </button>
                    <button id="hide_contact_button" style="margin-right: 10px">
                        <div class="hide-icon card-section-icon"></div>
                    </button>
                    <button id="remove_contact_button">
                        <div class="trash-icon card-section-icon"></div>
                    </button>
                </div>
                <div id="contact"></div>
            </div>


            <div id="polls_section_wrapper" class="card-section">
                <div class="card-section-header">
                    <div class="card-section-title">
                        <div class="poll-icon card-section-icon"></div>
                        <h2>Polls</h2>
                    </div>
                    <button id="polls_section_header_button">
                        <div class="plus-icon card-section-icon"></div>
                    </button>
                </div>
                <div id="polls_section"></div>
            </div>


            <div id="location_section_wrapper" class="card-section">
                <div class="card-section-header">
                    <div class="card-section-title">
                        <div class="map-icon card-section-icon"></div>
                        <h2>Location</h2>
                    </div>
                    <button id="location_section_header_button">
                        <div class="pen-to-square-icon card-section-icon"></div>
                    </button>
                </div>
                <iframe
                        id="google_map_iframe"
                        width="512"
                        height="400"
                        style="border:0"
                        referrerpolicy="no-referrer-when-downgrade"
                        src=""
                        allowfullscreen>
                </iframe>
            </div>


        </div>
        <script src="./card-section.js" type="module"></script>
        <script src="../contacts/contact-card-section.js" type="module"></script>
        <script src="../location/location-card-section.js" type="module"></script>
        <script src="../poll/poll-card-section.js" type="module"></script>
    </body>
</html>
