<html lang="en-US">
    <head>
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <link rel="stylesheet" href="../shared.css">
        <title>Authorize</title>
    </head>
    <body>
        <div id="authorize_wrapper">
            <p style="text-align:center">In order to leverage all the features this Power-Up has to offer, we need you to authorize access to your cards, boards and workspaces.</p>
            <div class="input-wrapper" style="margin-bottom: 0;">
                <button id="authorize">Click to authorize</button>
            </div>
        </div>
        <script src="./authorize.js" type="module"></script>
    </body>
</html>
