.navigation-buttons-wrapper {
    margin-bottom: 10px;
}

.navigation-mode-icon {
    background-color: #5a5a5a;
    height: 20px;
    width: 20px;
}

.trash-icon-wrapper {
    margin-right: 14px;
    margin-left: 10px;
    cursor: pointer;
    display: block;
}

.mod-primary .navigation-mode-icon {
    background-color: white;
}

.navigation-mode-button {
    padding: 7px;
    margin-top: 0;
    margin-right: 3px;
}

.location-input {
    cursor: pointer;
}
