<html>
    <head>
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <title>Card location section</title>
    </head>
    <body>
        <div id="google_map">
            <iframe
                id="google_map_iframe"
                width="512"
                height="400"
                style="border:0"
                referrerpolicy="no-referrer-when-downgrade"
                src=""
                allowfullscreen>
            </iframe>
        </div>
        <script src="./location-card-section.js"></script>
    </body>
</html>
