<html lang="en-US">
    <head>
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <link rel="stylesheet" href="contacts-form.css">
        <link rel="stylesheet" href="../shared.css">
        <title>Search Google contacts</title>
    </head>
    <body style="overflow: hidden">
        <div id="account_chooser_wrapper" class="calendar-list">
                <div class="input-wrapper" style="margin-bottom: 0; margin-top: 10px;">
                    <button id="add_google_contact">Choose a Google account</button>
                </div>
        </div>
        <script src="contacts-form.js" type="module"></script>
    </body>
</html>
