<html>
    <head>
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <title>Card location section</title>
    </head>
    <body>
        <div id="google_api_key_wrapper">
            This feature of Will's Power-Up requires a Google API Key. Configure it in the "settings" section of the Power-Up.
        </div>
        <script src="./google-api-key-required.js"></script>
    </body>
</html>
