<html>
    <head>
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <link rel="stylesheet" href="../shared.css">
        <title>Card location section</title>
    </head>
    <body>
        <div id="google_api_key_wrapper">
            <p style="text-align:center">This feature of the Power-Up requires a Google API Key. Configure it in the "settings" section of the Power-Up.</p>
            <div class="input-wrapper" style="margin-bottom: 0;">
                <button id="settings">Open the Power-Up settings</button>
            </div>
        </div>
        <script src="./google-api-key-required.js"></script>
    </body>
</html>
