<html lang="en-US">
    <head>
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <title>Settings</title>
    </head>
    <body>
        <div id="settings">
            <div style="padding-bottom: 10px; border-bottom: 1px solid #dfe1e6;">
                <p>Google API Key:</p>
                <input type="password" id="google_api_key" name="google_api_key" autocomplete="off">
                <button id="show_google_api_key" style="margin-top: 0;">Show Google API Key</button>
                <button id="save" class="mod-primary" style="margin-top: 0;">Save</button>
            </div>
            <div style="margin-top: 10px;">
                <p>Locations and directions:</p>
                <button id="google_maps_autocomplete" style="margin-top: 0;">Enable Google Maps autocomplete</button>
            </div>
        </div>
        <script src="settings.js"></script>
    </body>
</html>
