<html lang="en-US">
    <head>
        <link rel="stylesheet" href="https://p.trellocdn.com/power-up.min.css">
        <script src="https://p.trellocdn.com/power-up.min.js"></script>
        <link rel="stylesheet" href="../shared.css">
        <link rel="stylesheet" href="./account-chooser.css">
        <title>Google Account chooser</title>
    </head>
    <body>
        <div id="account_chooser_wrapper">
            <div id="account_list" class="account-list">
            </div>
            <div class="input-wrapper" style="margin-bottom: 0;">
                <button id="add_google_account" disabled>Add a Google account</button>
            </div>
        </div>
        <script src="./account-chooser.js" type="module"></script>
    </body>
</html>
